<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ settings.site_name }}</title>

    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600,800|fraunces:300,400,600,300i,400i&display=swap" rel="stylesheet" />

    {{ asset('styles/global.css') | stylesheet_tag }}

    {% block styles %}{% endblock %}
  </head>

  <body class="antialiased bg-zinc-950 text-zinc-300 font-sans">
    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
